# frozen_string_literal: true

module <%= class_name %>
  class Configuration
    # TODO: Remember to change this with your extension's actual preferences!
    # attr_accessor :sample_preference
  end
end
